.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap h2 {
  padding: 0;
  margin-top: 0;
  // Add any other styles you want for h2
}

.tiptap h3 {
  padding: 0;
  margin-top: 0;
  // Add any other styles you want for h3
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;

  p {
    margin: 0;
  }

  li {
    display: flex;

    > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
    }

    > div {
      flex: 1 1 auto;
    }

    ul li,
    ol li {
      display: list-item;
    }

    ul[data-type="taskList"] > li {
      display: flex;
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
  }
}
